<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <RollingFile name="Rolling1" fileName="log/app.log"
                                  filePattern="log/app-%d{yyyy-MM-dd-hh}.log" ignoreExceptions="false">

            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] %-3tid : %c %m%n"/>
            <Policies>
                <!--TimeBasedTriggeringPolicy filePattern="log/app-%d{yyyy-MM-dd-hh}.log" /-->
            </Policies>
        </RollingFile>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5p] %-3tid : %c %m%n}"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Rolling1"   level="DEBUG"/>
            <AppenderRef ref="STDOUT" level="INFO"/>
        </Root>
    </Loggers>

</Configuration>